<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Nagad Payment System</title>
    <link rel="icon" href="https://nagad.com.bd/_nuxt/img/logo.a4624c6.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "./payment.css" %}">
</head>

<body>
    <style>
        .btn-primary{
            background-color:#d0392c;
        }
        .payment-logo{
            background-color: #f3f3f3;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-4 "></div>
            <div class="col-4 payment">
                <div class="row payment-logo">
                <div class="col-4"></div>
                <div class="col-4">
                    <img src="https://nagad.com.bd/_nuxt/img/logo.a4624c6.svg" alt="">
                </div>
                <div class="col-4"></div>

            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <p>Dear, {{data.full_name}}</p>
                    <p>Total seat : {{data.no_of_seat}}</p>
                    <p>Per seat : 100 TK</p>
                    <p>Total Payment : {{taka}} TK</p>
                    


                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <form action='/make_payment/{{data.pk}}' method = 'POST'>
                        {% csrf_token %}
                        
                        <div class="form-group">
                            
                            <input type="text" value = {{data.phone_number}} name="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
                           
                          </div>
                          
                          
                          <div class="form-group">
                            <input type="text" name="tid" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Txr ×××××××××××××××">
                           
                          </div>
                          
                       <div class="space">
                        <div class="a"></div>
                        <button type="submit" class="btn btn-primary">Make Payment</button>
                       </div>
                        
                      </form>
                </div>
                <div class="col-1"></div>
                
            </div>
                
            </div>
            <div class="col-4"></div>
        </div>

    </div>
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>